# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables or secret configs
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# VSCode or IDE settings (optional)
.vscode/
.idea/

# Log files
*.log
